@font-face {
  font-family: 'niagra';
  
  src: url("./assets/NIAGENG.TTF") ;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  user-select: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
li{
    transition: all ease-in-out 350ms;

}
body{
  background: #050505;
  color: aliceblue;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0px;
}
.font-niagra{
  font-family: "niagra";
}

@media (max-width:426px) {
  #weeknd{
    left: 10vw;
  }
}
@media (max-width:321px) {
  #weeknd{
    left:0;
  }
}
@keyframes down {
  100%{
    top:0vh;
  }
  0%{
    top:70vh;
    filter: blur(20px);
  }
  50%{
    filter: blur(10px);
  }
}
#hero h1{
  animation-name: down;
  animation-duration:550ms;
}
#hero img{
  animation-name: down;
  animation-duration:3s;
  animation-delay: 90ms;

}