@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  user-select: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  background: #050505;
  color: aliceblue;
}
:root{
  --font-niagra:"niagra",var(--font-niagra)
}
@layer base {
  @font-face {
    font-family: 'niagra';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./Components/NIAGENG.TTF) ;
  }
}